/* GLOBAL */
body {
	font-family: sans-serif;
	margin: 0px;
}

div.top {
	background-color: #266E49;
	font-size: 14pt;
	color: #FFFFFF;
	padding: 5px;
}

div.scrabble {
	/* float: left; */
	padding-top: 5px;
}


/* BOXES AND TOOLS ELEMENTS */
div.box {
	margin-bottom: 10px;
}

div.boxtitle {
	background-color: #266E49;
	font-size: 12pt;
	color: #FFFFFF;
	padding: 5px;
}

div.boxcontent {
	background-color: #D0D0D0;
	padding: 5px;
}

div.toolbar {
	float: right;
}

i.action {
	cursor: pointer;
}


/* BOARD ELEMENTS */
div.board {
	float: left;
	margin: 10px;
	text-align: center;
}

table.board { float: left; }
table.board div.letter {
	width: 18px;
	height: 18px;
	font-size: 12pt;
}
tr.boardline {}

td.idx {
	width: 5px;
	text-align: center;
	font-size: 8pt;
}

td.letterbox {
	width: 30px;
	border: 1px solid #000000;
	text-align: center;
	width: 32px;
	height: 32px;
}

td.normal {	background-color: #00CF76;} 
td.ld {	background-color: #2AAFFF; }
td.lt {	background-color: #5C00FF; }
td.wd {	background-color: #FF2AE1; }
td.wt {	background-color: #FF0000; }

/* TURN ELEMENTS */
div.turn {
	float: left;
	margin: 10px;
}

div.letter {
	background-color: #EEF79C;
	font-size: 16pt;
	padding: 5px;
	margin: 2px;
	float: left;
	text-align: center;
	line-height: 26px;
	width: 32px;
	height: 32px;
}

div.lettervalue {
	position: relative;
	text-align: right;
	bottom: 10px;
	right: -3px;
	font-size: 8pt;
	font-weight: normal;
}

div.wordslist {
	padding: 10px;
}


/* GAME ELEMENTS */
div.game {
	/* display: none; */
	float: left;
	margin: 10px;
}

div.score {
	/* display: block; */
	text-align: center;
	padding: 10px;
}

div.gameturns {
	padding: 10px;
}


/* TOOLS */
div.tools {
	display: none;
	float: left;
	margin: 10px;
}

input {
	margin: 5px;
	border: 1px solid #000000;
}